@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

.Common-Header {
    background-image: url('../Catan-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family: 'EB Garamond', serif;
}

.Common-button {
    width: 250px;
    height: 100px;
    margin: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-bottom: solid 2px black;
    text-decoration: none;
    font-size: 40px;
    color: black;
    text-align: center;
    line-height: 100px;
}