.Game-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Game-board {
    width: 70vh ;
    height: 70vh;
    margin: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #9e8668b7;
    border-radius: 10px;
}

.Game-board-row {
    width: 100%;
    height: calc((100%-20px)/5);
    margin-top: -13px;
    display: flex;
    justify-content: center;
}

.Game-board-cell {
    width: calc((100%-20px)/5);
    height: 100%;
    background-image: url('../images/game/forest.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-filter: drop-shadow(7px 0px 0px #000000);
    filter: drop-shadow(7px 7px 0px #222);
}

.Game-board-number {
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    border-radius: 50%;
    background-color: #ccaa66;
    line-height: calc(100% + 15px);
    text-align: center;
}

.Game-board-resources {
    width: calc(100% - 90px);
    height: calc(100% - 90px);
    border-radius: 50%;
    background-color: #ccaa66;
    line-height: calc(100% + 35px);
    text-align: center;
  }

.Game-board-rec {
    width: 50%;
    height: calc((100%-20px)/5);
    margin-top: -13px;
    display: flex;
    justify-content: center;
}
.Game-board-is-red {
    color: red;
}

.Game-board-statics {
    width: 200px;
    height: 110px;
    background-color: #b14700;
    line-height: calc(100% + 35px);
    text-align: center;
  }

  .Game-board-statics-name {
    margin-bottom: -20px;
  }

  .Game-board-statics-player1 {
    width: 200px;
    height: 110px;
    background-color: #b14700;
    line-height: calc(100% + 35px);
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
  }
  .Game-board-statics-player2 {
    width: 200px;
    height: 110px;
    background-color: #b14700;
    line-height: calc(100% + 35px);
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
  }
  .Game-board-statics-player3 {
    width: 200px;
    height: 110px;
    background-color: #b14700;
    line-height: calc(100% + 35px);
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .Game-board-statics-player4 {
    width: 200px;
    height: 110px;
    background-color: #b14700;
    line-height: calc(100% + 35px);
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
  }