.pantalla-container {
  background-color: rgba(255,197,129,0.5);
  width: 25em;
  height: 30em;
  position: relative;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: rgb(89, 33, 11);
  padding: 1em;
}

.usuario-container {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(121, 46, 16);
  background-color: rgb(255,197,129);
  height: 3em;
  width: 80%;
  border-radius: 0.25em;
  text-align: center;
  color: rgb(89, 33, 11);
  font-weight: bold;
  line-height: 3em;
  font-size: large;
}

.esperando-container {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(121, 46, 16);
  background-color:  rgba(255,168,53,1);
  height: 3em;
  line-height: 3em;
  width: 80%;
  border-radius: 0.25em;
  text-align: center;
  padding: 0em;
  color: rgb(89, 33, 11);
  font-weight: bold;
  font-size: large;

}


.newGame-logo {
  height: 25vmin;
  pointer-events: none;
  -webkit-filter: drop-shadow(7px 7px 7px #222);
  filter: drop-shadow(7px 7px 7px #222);
}

.newGame-btn { 
  width: 40%;
  height: 3em;
  background-color: rgba(255,168,53,1) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 0.25em;
  cursor: pointer;
  font-weight: bold;
  border: 2px solid rgb(121, 46, 16);
  text-decoration: none;
}

.linkado {
  color: rgb(89, 33, 11);
  font-weight: bold;
}