
.Register-logo {
    height: 25vmin;
    pointer-events: none;
    -webkit-filter: drop-shadow(7px 7px 7px #222);
    filter: drop-shadow(7px 7px 7px #222);
}

.Register-header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.Register-container {
    margin: 0px 20px 20px 0px;
    min-height: calc(100vh-20px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transform: translateY(-10%);
    flex-direction: column;
}

.Register-form {
    width: 400px;
    height: 500px;
    background-color: rgba(255,197,129,1);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.6;
}

.Register-cover {
    background-color: rgba(255,197,129,0.5);
    width: 30em;
    height: 33em;
    position: relative;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: rgb(89, 33, 11)
}

/*
input {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(121, 46, 16);
    background-color: rgb(255,197,129);
    height: 3em;
    width: 80%;
    border-radius: 0.25em;
    text-align: center;
    padding: 2em;
    color: rgb(89, 33, 11)
}
*/

.Register-btn { 
    width: 40%;
    height: 3em;
    background-color: rgba(255,168,53,1) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid rgb(121, 46, 16);
    text-decoration: none;
}

.linkado {
    color: rgb(89, 33, 11);
    font-weight: bold;
}

.Register-btn:hover {transform: scale(1.03);}
