.pantalla-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .usuario-container {
    background-color: white;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .esperando-container {
    background-color: grey;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .empezar-button {
    width: 200px;
    height: 50px;
  }
  